@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #2F294D; 
  --secondary: #FF6347; 
  --background: #ffffff;
  --foreground: #171717;
  --body: #646464;
  --muted:'#f0f0f0'
}


@layer base{
 a{
  @apply outline-none border-none
 }
}
@layer utilities{
  .h1 {
    @apply text-[64px] font-bold  leading-tight
  }
  .h2 {
    @apply text-[56px] font-bold  leading-tight
  }
  .h3{
    @apply text-[44px] font-bold  leading-tight
  }
  .h4{
    @apply text-[36px] font-bold  leading-tight
  }
  .h5{
    @apply text-[28px] font-bold  leading-tight
  }
  .body {
    color: var(--body);
   }
}

